  body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
  }

  .container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
  }
  .container1 {
    width: 80%;
    margin: 0 auto;
  }
  table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  /* */
  th, td {
    padding: 8px;
    border-bottom: 1px solid white;
  }
  
  button {
    background-color: transparent;
    color: white;
    border: 2px solid #8E8E8E;
    padding: 8px 16px;
    width: 180px;
    cursor: pointer;
    border-radius: 0px;
  }
  button:hover {
    background-color: white;
    color: black;
    border-radius: none;
  }
  
  input {
    background-color: transparent;
    color: white;
    border: 2px solid #8E8E8E;
    width: 486px;
    padding: 8px;
  }  
  .logo {
    width: 30px;
    height: auto;
  }